## Decision Tree with simple dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../dataset/ibm-hr-analytics-employee-attrition-performance/WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [3]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
df.shape

(1470, 35)

In [8]:
df.isnull().sum().any() # no null values

False

In [13]:
# Convert Yes or No categories into 1 and 0 for modeling purposes
# Dummy coding

In [12]:
df['Attrition_ind'] = 0
df.loc[df['Attrition'] == 'Yes', 'Attrition_ind'] = 1

In [30]:
df.nunique() # Get the no. of unique values of each variables

Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
Attrition_ind                  2
dtype: int64

In [64]:
# We can ignore the four variables as they do not change across the observations
to_ignore = ['EmployeeNumber', 'EmployeeCount', 'Over18', 'StandardHours', 'Attrition_ind']

In [61]:
discrete_columns, continuous_columns = [], []
for i, j in enumerate(df.dtypes):
    if j == object:
        discrete_columns.append(df.columns[i])
    else:
        continuous_columns.append(df.columns[i])

In [62]:
print("Discrete: \n", discrete_columns, '\n\n', "Continuous: \n", continuous_columns, sep='')

Discrete:
['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']

Continuous:
['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition_ind']

In [63]:
dummy_busnstrvl = pd.get_dummies(df['BusinessTravel'], prefix='busns_trvl')
dummy_dept = pd.get_dummies(df['Department'], prefix='dept')
dummy_edufield = pd.get_dummies(df['EducationField'], prefix='edufield')
dummy_gender = pd.get_dummies(df['Gender'], prefix='gender')
dummy_jobrole = pd.get_dummies(df['JobRole'], prefix='jobrole')
dummy_maritstat = pd.get_dummies(df['MaritalStatus'], prefix='maritalstat')
dummy_overtime = pd.get_dummies(df['OverTime'], prefix='overtime')

In [74]:
to_ignore_continuous = ['EmployeeNumber', 'EmployeeCount', 'StandardHours', 'Attrition_ind']

In [75]:
continuous_columns = [x for x in continuous_columns if x not in to_ignore_continuous] # list comprehension

In [78]:
print(continuous_columns, sep='')

['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [79]:
df_continuous = df[continuous_columns]

In [82]:
df_new = pd.concat([dummy_busnstrvl, dummy_dept, dummy_edufield, dummy_gender,
                   dummy_jobrole, dummy_maritstat, dummy_overtime, df_continuous,
                   df['Attrition_ind']], axis=1)
# Multi-collinearity does not create a problem in decision trees as opposed to logistic or linear regression,
# hence there is no need to remove any extra derived categorical dummy variable

In [90]:
X = df_new.iloc[:, :-1]
y = df_new['Attrition_ind']

In [91]:
# Train test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

Lets train our data with Decision tree classifier

In [96]:
# Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier

# parameters selected for DT classifier
# criterion='gini', max_depth=5, min_samples_split=2, min_samples_leaf=1
dt_fit = DecisionTreeClassifier(criterion='gini', max_depth=5, min_samples_split=2, min_samples_leaf=1, random_state=42)
dt_fit.fit(X_train, y_train)

print("Decision Tree - Train Confusion Matrix\n\n", pd.crosstab(y_train, dt_fit.predict(X_train),
                                                               rownames=['Actuall'], colnames=['Predicted']), sep='')

from sklearn.metrics import accuracy_score, classification_report
print("\nDecision Tree - Train accuracy\n\n", round(accuracy_score(y_train, dt_fit.predict(X_train)), 3))
print("\nDecision Tree - Train Classification Report\n", classification_report(y_train, dt_fit.predict(X_train)))

print("\n\nDecision Tree - Test Confusion Matrix\n\n", pd.crosstab(y_test, dt_fit.predict(X_test),
                                                                  rownames=['Actuall'], colnames=['Predicted']), sep='')
print("\nDecision Tree - Test accuracy", round(accuracy_score(y_test, dt_fit.predict(X_test)), 3))
print("\nDecision Tree - Test Classification Report\n", classification_report(y_test, dt_fit.predict(X_test)))

Decision Tree - Train Confusion Matrix

Predicted    0   1
Actuall
0          844   9
1           98  78

Decision Tree - Train accuracy

 0.896

Decision Tree - Train Classification Report
              precision    recall  f1-score   support

          0       0.90      0.99      0.94       853
          1       0.90      0.44      0.59       176

avg / total       0.90      0.90      0.88      1029



Decision Tree - Test Confusion Matrix

Predicted    0   1
Actuall
0          361  19
1           49  12

Decision Tree - Test accuracy 0.846

Decision Tree - Test Classification Report
              precision    recall  f1-score   support

          0       0.88      0.95      0.91       380
          1       0.39      0.20      0.26        61

avg / total       0.81      0.85      0.82       441

In [102]:
classification_report(y_test, dt_fit.predict(X_test)).split()

['precision',
 'recall',
 'f1-score',
 'support',
 '0',
 '0.88',
 '0.95',
 '0.91',
 '380',
 '1',
 '0.39',
 '0.20',
 '0.26',
 '61',
 'avg',
 '/',
 'total',
 '0.81',
 '0.85',
 '0.82',
 '441']

By carefully observing the results, we can infer that, even though the test accuracy is high
(84.6%), the precision and recall of one category (Attrition = Yes) is low (precision = 0.39 and
recall = 0.20). This could be a serious issue when management tries to use this model to
provide some extra benefits proactively to the employees with a high chance of attrition
prior to actual attrition, as this model is unable to identify the real employees who will be
leaving. Hence, we need to look for other modifications; one way is to control the model by
using class weights. By utilizing class weights, we can increase the importance of a
particular class at the cost of an increase in other errors.

For example, by increasing class weight to category 1, we can identify more employees with
the characteristics of actual attrition, but by doing so, we will mark some of the nonpotential
churner employees as potential attriters (which should be acceptable).

Another classical example of the important use of class weights is, in banking scenarios.
When giving loans, it is better to reject some good applications than accepting bad loans.
Hence, even in this case, it is a better idea to use higher weightage to defaulters over nondefaulters:

## Tuning class weights in decision tree classifier

In [107]:
import numpy as np
dummyarray = np.empty((6, 10))
dt_wttune = pd.DataFrame(dummyarray)
# class weights are tuned to see the performance change in decision 
# trees with the same parameters. A dummy DataFrame is created to save all the results of
# various precision-recall details of combinations:

Metrics to be considered for capture are weight for zero and one category (for example, if
the weight for zero category given is 0.2, then automatically, weight for the one should be
0.8, as total weight should be equal to 1), training and testing accuracy, precision for zero
category, one category, and overall. Similarly, recall for zero category, one category, and
overall are also calculated:

In [115]:
dt_wttune.columns = ['zero_wght', 'one_wght', 'tr_accuracy',
                    'tst_accuracy', 'prec_zero', 'prec_one', 'prec_ovll',
                    'recl_zero', 'recl_one', 'recl_ovll']

# Weights for the zero category are verified from 0.01 to 0.5, as we know we do not want to
# explore cases where the zero category will be given higher weightage than one category:
zero_clwghts = [0.01, 0.1, 0.2, 0.3, 0.4, 0.5]

for i in range(len(zero_clwghts)):
    clwght = {0: zero_clwghts[i], 1:1.0-zero_clwghts[i]}
    dt_fit = DecisionTreeClassifier(criterion='gini', max_depth=5, min_samples_split=2,
                                   min_samples_leaf=1, random_state=42, class_weight=clwght)
    dt_fit.fit(X_train, y_train)
    dt_wttune.loc[i, 'zero_wght'] = clwght[0]
    dt_wttune.loc[i, 'one_wght'] = clwght[1]
    dt_wttune.loc[i, 'tr_accuracy'] = round(accuracy_score(y_train, dt_fit.predict(X_train)), 3)
    dt_wttune.loc[i, 'tst_accuracy'] = round(accuracy_score(y_test, dt_fit.predict(X_test)), 3)
    clf_sp = classification_report(y_test, dt_fit.predict(X_test)).split()
    dt_wttune.loc[i, 'prec_zero'] = float(clf_sp[5])
    dt_wttune.loc[i, 'prec_one'] = float(clf_sp[10])
    dt_wttune.loc[i, 'prec_ovll'] = float(clf_sp[17])
    dt_wttune.loc[i, 'recl_zero'] = float(clf_sp[6])
    dt_wttune.loc[i, 'recl_one'] = float(clf_sp[11])
    dt_wttune.loc[i, 'recl_ovll'] = float(clf_sp[18])
    print("\nClass Weights", clwght, "Train accuracy:",
         round(accuracy_score(y_train, dt_fit.predict(X_train)), 3),
         "Test accuracy:", round(accuracy_score(y_test, dt_fit.predict(X_test)), 3))
    
    print("Test Confusion Matrix\n\n", pd.crosstab(y_test, dt_fit.predict(X_test),
                                                  rownames=['Actual'], colnames=['Predicted']), sep='')

Class Weights {0: 0.01, 1: 0.99} Train accuracy: 0.342 Test accuracy: 0.272
Test Confusion Matrix

Predicted   0    1
Actual
0          65  315
1           6   55

Class Weights {0: 0.1, 1: 0.9} Train accuracy: 0.806 Test accuracy: 0.732
Test Confusion Matrix

Predicted    0   1
Actual
0          282  98
1           20  41

Class Weights {0: 0.2, 1: 0.8} Train accuracy: 0.871 Test accuracy: 0.83
Test Confusion Matrix

Predicted    0   1
Actual
0          341  39
1           36  25

Class Weights {0: 0.3, 1: 0.7} Train accuracy: 0.881 Test accuracy: 0.839
Test Confusion Matrix

Predicted    0   1
Actual
0          345  35
1           36  25

Class Weights {0: 0.4, 1: 0.6} Train accuracy: 0.894 Test accuracy: 0.832
Test Confusion Matrix

Predicted    0   1
Actual
0          346  34
1           40  21

Class Weights {0: 0.5, 1: 0.5} Train accuracy: 0.896 Test accuracy: 0.846
Test Confusion Matrix

Predicted    0   1
Actual
0          361  19
1           49  12

From the preceding screenshot, we can seen that at class weight values of 0.3 (for zero) and
0.7 (for one) it is identifying a higher number of attriters (25 out of 61) without
compromising test accuracy 83.9% using decision trees methodology:

In [117]:
dt_wttune

,zero_wght,one_wght,tr_accuracy,tst_accuracy,prec_zero,prec_one,prec_ovll,recl_zero,recl_one,recl_ovll
0,0.01,0.99,0.342,0.272,0.92,0.15,0.81,0.17,0.90,0.27
1,0.10,0.90,0.806,0.732,0.93,0.29,0.85,0.74,0.67,0.73
2,0.20,0.80,0.871,0.830,0.90,0.39,0.83,0.90,0.41,0.83
3,0.30,0.70,0.881,0.839,0.91,0.42,0.84,0.91,0.41,0.84
4,0.40,0.60,0.894,0.832,0.90,0.38,0.83,0.91,0.34,0.83
5,0.50,0.50,0.896,0.846,0.88,0.39,0.81,0.95,0.20,0.85

In [ ]:
# References and credits to
# Statistics in Machine Learning